<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
    <title>Show</title>
</head>
<body layout:fragment="content">
<p th:text="${teamplayer.id}+':'
            +${teamplayer.player.name}+' '
            +${teamplayer.player.surname}+' '
            +${teamplayer.player.birthday}+' '
            +${teamplayer.player.rating}+' '
            +${teamplayer.number}+' '
            +${teamplayer.role}">VALUE</p>

<hr/>

<a th:href="@{/teamplayers/{id}/edit(id=${teamplayer.id})}">Edit</a>

<form th:method="DELETE" th:action="@{/teamplayers/{id}(id=${teamplayer.id})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>