<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>

<form th:method="POST" th:action="@{/players}" th:object="${player}">
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="name">Enter name:
        <input id="name" type="text" name="name" th:field="*{name}"/>
    </label><br/>
    <label for="surname">Enter surname:
        <input id="surname" type="text" name="surname" th:field="*{surname}"/>
    </label><br/>
    <label for="patronymic">Enter patronymic:
        <input id="patronymic" type="text" name="patronymic" th:field="*{patronymic}"/>
    </label><br/>
    <label for="birthday">Enter birthday:
        <input id="birthday" type="text" name="birthday" th:field="*{birthday}"/>
    </label><br/>
    <label for="rating">Enter rating:
        <input id="rating" type="text" name="rating" th:field="*{rating}"/>
    </label><br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>