<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${player.id}+':'
            +${player.name}+' '
            +${player.surname}+' '
            +${player.birthday}+' '
            +${player.rating}">VALUE</p>

<hr/>

<a th:href="@{/players/{id}/edit(id=${player.id})}">Edit</a>

<form th:method="DELETE" th:action="@{/players/{id}(id=${player.id})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>