<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${player.getId()}+':'
            +${player.getName()}+' '
            +${player.getSurname()}+' '
            +${player.getBirthday()}+' '
            +${player.getRating()}">VALUE</p>

<hr/>

<a th:href="@{/players/{id}/edit(id=${player.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/players/{id}(id=${player.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>