<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body layout:fragment="content">
<div class="container text-center">
    <div class="d-flex justify-content-center flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1>Welcome to Hockey Manager</h1>
    </div>

    <h3 class="mt-4">Teams - a tab where all the teams are located,
        in it you can also change the composition of the team,
        name, logo, etc.</h3>
    <h3 class="mt-4">Players - a tab where all the players are located,
        in it you can change the name, date of birth and rating of the player</h3>
    <h3 class="mt-4">Gameplan - a tab where you can create a new gameplan for the upcoming game
    </h3>
</div>
</body>
</html>