<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="|${team.getId()}: ${team.getName()}|">VALUE</p>

<hr/>

<div th:each="teamplayer : ${team.getPlayerTeams()}">
    <a th:href="@{/teamplayers/{id}(id=${teamplayer.player.id})}"
       th:text="${teamplayer.player.id}+':'
                +${teamplayer.player.name}+' '
                +${teamplayer.player.surname}+' '
                +${teamplayer.player.birthday}+' '
                +${teamplayer.player.rating}+' '
                +${teamplayer.number}+' '
                +${teamplayer.role}">teamPlayer</a>
</div>

<hr/>

<a th:href="@{/teams/{id}/edit(id=${team.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/teams/{id}(id=${team.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>